<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Mountain Roguelike</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="phaser.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>
